<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarRecipeShoppingListToggle" aria-controls="navbarRecipeShoppingListToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarRecipeShoppingListToggle">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isAuthened">
          <a class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/recipes">
            Recipes
          </a>
        </li>
        <li class="nav-item" *ngIf="!isAuthened">
          <a class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/auth">
            Authenticate
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/shopping-list">
            Shopping List
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthened">
          <a class="nav-link"
            aria-current="page"
            (click)="onLogout()">
            Logout
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="isAuthened">
          <a class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu"
            aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" (click)="onSaveData()">
                Save Data
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" (click)="onFetchData()">
                Fetch Data
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
